StepsFollowed.docx
source code.jpg
Output.jpg
demo.html

#DesignShellAssignment
DesignShell/homePage.png
DesignShell/contactPage.png
DesignShell/documentation_assignment.docx

images/

#TeamBudgetAssignment
teamBudget/writeup.docx
teamBudget/output.png
teamBudget/output1.png
teamBudget/output2.png


#phaseProjectAssignment
phaseProject/bg.jpg
phaseProject/m1.jpeg
phaseProject/m2.jpg
phaseProject/m3.jpg
phaseProject/m4.jpg
phaseProject/steps.docx
phaseProject/output1.png
phaseProject/output2.png
