StepsFollowed.docx
source code.jpg
Output.jpg
demo.html

#DesignShellAssignment
DesignShell/homePage.png
DesignShell/contactPage.png
DesignShell/documentation_assignment.docx

images/

#TeamBudgetAssignment
teamBudget/writeup.docx
teamBudget/output.png
teamBudget/output1.png
teamBudget/output2.png
