StepsFollowed.docx
source code.jpg
Output.jpg
demo.html

#DesignShellAssignment
DesignShell/homePage.png
DesignShell/contactPage.png
DesignShell/documentation_assignment.docx

images/

#TeamBudgetAssignment
teamBudget/writeup.docx
teamBudget/output.png
teamBudget/output1.png
teamBudget/output2.png


#phaseProjectAssignment
phaseProject/bg.jpg
phaseProject/m1.jpeg
phaseProject/m2.jpg
phaseProject/m3.jpg
phaseProject/m4.jpg
phaseProject/steps.docx
phaseProject/output1.png
phaseProject/output2.png

#shopCartAssignment
shopCart/documen.docx
shopCart/M3.jpg
shopCart/Ou.png
shopCart/Ou1.png
shopCart/Ou2.png

#PortfolioAssignment
portfolio/src/app/ou.png
portfolio/src/app/ou1.png
portfolio/src/app/ou2.png
portfolio/src/app/ou3.png
portfolio/src/app/ou4.png
portfolio/src/app/Docu.docx

#Online-test
Online-test/src/app/1.png
Online-test/src/app/2.png
Online-test/src/app/3.png
Online-test/src/app/Doc.docx


#taskTracker
taskTracker/src/app/Doc.docx
taskTracker/src/app/1.png
taskTracker/src/app/2.png
taskTracker/src/app/3.png
taskTracker/src/app/4.png
