h2{
    font-weight: bold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color:black;
    text-decoration:dashed;
    font-variant: small-caps;
    text-shadow:-2px -1px 0 rgb(135, 199, 241),-1px -1px;
}
body{
    
    background-image:url(../phaseProject/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1550px 1000px;
    background-position: center;
    text-align: center;
}
label{
    font-weight:bold;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    
}
.nav-link{
   
    margin:0%;
    margin-left: 0%;
    font-family: serif;
    font-size: 35px;
    color:black;
    text-decoration:dashed;
    font-variant: small-caps;
    text-shadow:-2px -1px black(241, 142, 155),-1px -1px;
    
    
    
}
.userField{
    border:black solid 2px;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
   
    
    
}
.underline{
    text-decoration: underline;
}
#userInfo{
   
    color: black;
}
.card{
    border-radius: 10px;
    border-color: black;
}
.topnav {
    background-color:burlywood;
    overflow: hidden;
    margin-bottom: 10px;
}
.formfield{
    vertical-align: middle;
    border:black solid 2px;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
  }