<div class="col-sm-10" id="main">
    <h2>My Portfolio</h2>
    <a style="float: right;" href="login">Log Out</a>

    <br>
    <h5>Welcome {{username}}</h5>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <label>Contact Name</label>
            </div>
            <div class="col-5">
                <input type="text" #name/>          
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <Label>Phone Number</Label>
            </div>
            <div class="col-5">
                <input type="number" #number>          
            </div>
            <div class="col-2">
                <input type="submit" class="btn btn-light" value="Save" (click)="insertNewContact(name.value,number.value)"/>
            </div>
        </div>
    </div>
    <hr>

    <h4>Contact Details</h4>
    <div id="tableDiv">
        <table id="contact" class="table table-striped">
            <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
